<h2>Books</h2>
<% @books.each do |book| %>

<P>Title</P>
 <%= book.title %>
<p>Body</p>
 <%= book.body %>
<p>show edit destroy</p>
 <span>
    <%= link_to 'show', book_path(book.id) %>
    <%= link_to 'edit', edit_book_path(book.id) %>
    <%= link_to 'destroy', book_path(book.id), method: :delete, "data-confirm"=> "Are you sure?" %>
  </span>

<% end %>


<p></p>
<h3>New book</h3>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>